

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Merriweather', serif;
  font-size: 5.625em;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  margin: 15px;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 2;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

hr {
  width: 10%;
  height: 0;
  border-top:10px dotted;
  color: grey;
  margin: 100px auto;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding-left: 20px 0;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;

}

.middle-container {
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;

}

.bottom-container {
  background-color: #ADC2A9;
  padding: 50px 0 30px;
}



.topContainer{
  background-color: #FEF5ED;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-pic {
  width: 10em;
  height: 10em;
  padding-top: 2em;
}
.profile-pic-gear {
  width: 10em;
  height: 10em;
  padding-top: 1em;
  float: left;
  margin-right: 30px;
}

.profile-pic-people {
  width: 10em;
  height: 10em;
  padding-top: 1em;
  float: right;
  margin-left: 30px;
}
